/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0;
}
#fixed {
  background-image: url('image/背景.png');
  height: 600px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
}

/*--background--*/
body{
margin: 0;
padding: 0;
font-family: "montserrat"
background-image: linear-gradient(125deg,#2c3e50)；
}
body {
  margin-top: 100px;
}
body {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar {
  font-size: 20px; /* 设置字体大小为20像素 */
}
.nav-link {
  transition: all 0.3s ease; /* 添加过渡效果，持续时间为0.3秒 */
}

.nav-link:hover {
  color: black; /* 鼠标悬停时字体颜色变为黑色 */
}


.card-img-top {
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.3);
}
